
#augustinismus-marker > .tl-timemarker-content-container {
    background-color: #d9f2d9;
}

#augustinus-von-hippo-marker > .tl-timemarker-content-container {
    background-color: #d9f2d9;
}

#prosper-von-aquitanien-marker > .tl-timemarker-content-container {
    background-color: #d9f2d9;
}

#fruehscholastik-marker > .tl-timemarker-content-container {
    background-color: #ebebe0;
}

#anselm-von-canterbury-marker > .tl-timemarker-content-container {
    background-color: #ebebe0;
}

#vorreformation-marker > .tl-timemarker-content-container {
    background-color: #ffcccc;
}

#john-wyclif-marker > .tl-timemarker-content-container {
    background-color: #ffcccc;
}

#jan-hus-marker > .tl-timemarker-content-container {
    background-color: #ffcccc;
}

#reformatorische-theologie-marker > .tl-timemarker-content-container {
    background-color: #ccfff5;
}

#martin-luther-marker > .tl-timemarker-content-container {
    background-color: #ccfff5;
}

#huldrych-zwingli-marker > .tl-timemarker-content-container {
    background-color: #ccfff5;
}

#andreas-bodenstein-marker > .tl-timemarker-content-container {
    background-color: #ccfff5;
}

#philipp-melanchthon-marker > .tl-timemarker-content-container {
    background-color: #ccfff5;
}

#johannes-calvin-marker > .tl-timemarker-content-container {
    background-color: #ccfff5;
}

#taeufertum-marker > .tl-timemarker-content-container {
    background-color: #ffeecc;
}

#balthasar-hubmaier-marker > .tl-timemarker-content-container {
    background-color: #ffeecc;
}

#altprotestantische-orthodoxie-marker > .tl-timemarker-content-container {
    background-color: #f2d9e6;
}

#jakob-andreae-marker > .tl-timemarker-content-container {
    background-color: #f2d9e6;
}

#johann-gerhard-marker > .tl-timemarker-content-container {
    background-color: #f2d9e6;
}

#pietismus-marker > .tl-timemarker-content-container {
    background-color: #ddccff;
}

#philipp-jakob-spener-marker > .tl-timemarker-content-container {
    background-color: #ddccff;
}

#august-hermann-francke-marker > .tl-timemarker-content-container {
    background-color: #ddccff;
}

#johann-albrecht-bengel-marker > .tl-timemarker-content-container {
    background-color: #ddccff;
}

#nikolaus-ludwig-von-zinzendorf-marker > .tl-timemarker-content-container {
    background-color: #ddccff;
}

#neuluthertum-marker > .tl-timemarker-content-container {
    background-color: #f2ffcc;
}

#ernst-wilhelm-hengstenberg-marker > .tl-timemarker-content-container {
    background-color: #f2ffcc;
}

#erweckungsbewegung-marker > .tl-timemarker-content-container {
    background-color: #ffe0cc;
}

#friedrich-august-gotttreu-tholuck-marker > .tl-timemarker-content-container {
    background-color: #ffe0cc;
}

#johann-hinrich-wichern-marker > .tl-timemarker-content-container {
    background-color: #ffe0cc;
}

#biblische-schule-marker > .tl-timemarker-content-container {
    background-color: #ccfff2;
}

#martin-kaehler-marker > .tl-timemarker-content-container {
    background-color: #ccfff2;
}

#adolf-schlatter-marker > .tl-timemarker-content-container {
    background-color: #ccfff2;
}

#positive-theologie-marker > .tl-timemarker-content-container {
    background-color: #ccdcff;
}

#karl-heim-marker > .tl-timemarker-content-container {
    background-color: #ccdcff;
}

#dialektische-theologie-marker > .tl-timemarker-content-container {
    background-color: #ffccff;
}

#karl-barth-marker > .tl-timemarker-content-container {
    background-color: #ffccff;
}

#dietrich-bonhoeffer-marker > .tl-timemarker-content-container {
    background-color: #ffccff;
}

#luther-renaissance-marker > .tl-timemarker-content-container {
    background-color: #e0ccff;
}

#paul-althaus-marker > .tl-timemarker-content-container {
    background-color: #e0ccff;
}

#immanuel-hirsch-marker > .tl-timemarker-content-container {
    background-color: #e0ccff;
}

#gnosis-marker > .tl-timemarker-content-container {
    background-color: #ebccff;
}

#alexandrinische-theologie-marker > .tl-timemarker-content-container {
    background-color: #ffccf2;
}

#clemens-von-alexandria-marker > .tl-timemarker-content-container {
    background-color: #ffccf2;
}

#origenes-marker > .tl-timemarker-content-container {
    background-color: #ffccf2;
}

#neuplatonismus-marker > .tl-timemarker-content-container {
    background-color: #ffcccc;
}

#plotin-marker > .tl-timemarker-content-container {
    background-color: #ffcccc;
}

#hochscholastik-marker > .tl-timemarker-content-container {
    background-color: #ffe6cc;
}

#petrus-lombardus-marker > .tl-timemarker-content-container {
    background-color: #ffe6cc;
}

#thomas-von-aquin-marker > .tl-timemarker-content-container {
    background-color: #ffe6cc;
}

#spaetscholastik-marker > .tl-timemarker-content-container {
    background-color: #eeffcc;
}

#wilhelm-von-ockham-marker > .tl-timemarker-content-container {
    background-color: #eeffcc;
}

#mystik-marker > .tl-timemarker-content-container {
    background-color: #fff2cc;
}

#johannes-tauler-marker > .tl-timemarker-content-container {
    background-color: #fff2cc;
}

#humanismus-marker > .tl-timemarker-content-container {
    background-color: #d9f2e6;
}

#johannes-reuchlin-marker > .tl-timemarker-content-container {
    background-color: #d9f2e6;
}

#erasmus-von-rotterdamm-marker > .tl-timemarker-content-container {
    background-color: #d9f2e6;
}

#deismus-marker > .tl-timemarker-content-container {
    background-color: #ffffe5;
}

#john-locke-marker > .tl-timemarker-content-container {
    background-color: #ffffe5;
}

#neologie-marker > .tl-timemarker-content-container {
    background-color: #ebebe0;
}

#hermann-samuel-reimarus-marker > .tl-timemarker-content-container {
    background-color: #ebebe0;
}

#rationalismus-marker > .tl-timemarker-content-container {
    background-color: #e0ebeb;
}

#gotthold-e--lessing-marker > .tl-timemarker-content-container {
    background-color: #e0ebeb;
}

#uebergangstheologie-marker > .tl-timemarker-content-container {
    background-color: #ccffcc;
}

#gottfried-wilhelm-leibniz-marker > .tl-timemarker-content-container {
    background-color: #ccffcc;
}

#idealismus-marker > .tl-timemarker-content-container {
    background-color: #d6e0f5;
}

#georg-wilhelm-friedrich-hegel-marker > .tl-timemarker-content-container {
    background-color: #d6e0f5;
}

#liberale-theologie-marker > .tl-timemarker-content-container {
    background-color: #ccccff;
}

#friedrich-d-e--schleiermacher-marker > .tl-timemarker-content-container {
    background-color: #ccccff;
}

#kritisch--entwicklungsgeschichtliche-schule-marker > .tl-timemarker-content-container {
    background-color: #f2d9e6;
}

#ludwig-feuerbach-marker > .tl-timemarker-content-container {
    background-color: #f2d9e6;
}

#david-f--strauss-marker > .tl-timemarker-content-container {
    background-color: #f2d9e6;
}

#religionsgeschichtliche-schule-marker > .tl-timemarker-content-container {
    background-color: #cceeff;
}

#ernst-troeltsch-marker > .tl-timemarker-content-container {
    background-color: #cceeff;
}

#kulturprotestantismus-marker > .tl-timemarker-content-container {
    background-color: #e5ffff;
}

#albrecht-ritschl-marker > .tl-timemarker-content-container {
    background-color: #e5ffff;
}

#adolf-von-harnack-marker > .tl-timemarker-content-container {
    background-color: #e5ffff;
}

#philosophisch-korrelative-theologie-marker > .tl-timemarker-content-container {
    background-color: #ffddcc;
}

#paul-tillich-marker > .tl-timemarker-content-container {
    background-color: #ffddcc;
}

#kritisch--formgeschichtliche-schule-marker > .tl-timemarker-content-container {
    background-color: #d9f2d9;
}

#rudolf-bultmann-marker > .tl-timemarker-content-container {
    background-color: #d9f2d9;
}

#gott-ist-tot-theologie-marker > .tl-timemarker-content-container {
    background-color: #d9e6f2;
}

#dorothee-soelle-marker > .tl-timemarker-content-container {
    background-color: #d9e6f2;
}

#befreiungstheologie-marker > .tl-timemarker-content-container {
    background-color: #ebccff;
}

#juan-luis-segundo-marker > .tl-timemarker-content-container {
    background-color: #ebccff;
}

#feministische-theologie-marker > .tl-timemarker-content-container {
    background-color: #ffebcc;
}

#elisabeth-moltmann---wendel-marker > .tl-timemarker-content-container {
    background-color: #ffebcc;
}

#tiefenpsychologische-theologie-marker > .tl-timemarker-content-container {
    background-color: #e6faff;
}

#eugen-drewermann-marker > .tl-timemarker-content-container {
    background-color: #e6faff;
}
